:root{
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light_Grey: hsl(217, 12%, 63%);
  --Medium_Grey: hsl(216, 12%, 54%);
  --Blue: hsl(213, 19%, 18%);
  --Dark_Blue: hsl(216, 12%, 8%);
}
body{
  background-color: var(--Dark_Blue);
  font-family: 'Overpass', sans-serif;
}